# **Preproccessing for visualization project**

*   Yuval Levi - 325120384
*   Maxim Katz - 322406604

Imports

In [45]:
import pandas as pd

Data loading

In [46]:
data = pd.read_csv('all_seasons.csv')
country_codes = pd.read_csv('country_code.csv')

Casting season attribute

In [47]:
data['season'] = data['season'].str.split('-').str[0].astype(int)

Fix team abbreviations

In [48]:
data.loc[data['team_abbreviation'] == 'VAN', 'team_abbreviation'] = 'MEM'
data.loc[data['team_abbreviation'] == 'SEA', 'team_abbreviation'] = 'OKC'
data.loc[data['team_abbreviation'] == 'NOK', 'team_abbreviation'] = 'NOP'
data.loc[data['team_abbreviation'] == 'CHH', 'team_abbreviation'] = 'CHA'
data.loc[data['team_abbreviation'] == 'NJN', 'team_abbreviation'] = 'BKN'
data.loc[data['team_abbreviation'] == 'NOH', 'team_abbreviation'] = 'NOP'

Creating Normalized attributes for points, assists, rebounds, player height and player weight

In [49]:
def norm(old, new):
    mean_value = data[old].mean()
    std_value = data[old].std()
    data[new] = (data[old] - mean_value) / std_value


norm('player_height', 'height')
norm('player_weight', 'weight')
norm('reb', 'rebb')
norm('ast', 'astt')
norm('pts', 'ptss')

Fixing countries names and codes

In [50]:
data.loc[data['country'] == 'Bosnia', 'country'] = 'Bosnia and Herzegovina'
data.loc[data['country'] == 'Bosnia & Herzegovina', 'country'] = 'Bosnia and Herzegovina'
data.loc[data['country'] == 'England', 'country'] = 'United Kingdom'
data.loc[data['country'] == 'Great Britain', 'country'] = 'United Kingdom'
data.loc[data['country'] == 'Serbia and Montenegro', 'country'] = 'Serbia'
data.loc[data['country'] == 'Sudan (UK)', 'country'] = 'Sudan'
data.loc[data['country'] == 'US Virgin Islands', 'country'] = 'U.S. Virgin Islands'

In [51]:
country_codes = country_codes.drop(['code_2digit'], axis=1)
country_codes.rename(columns={'Country_name': 'country'}, inplace=True)
data = pd.merge(data, country_codes, on='country', how='left')
data.rename(columns={'code_3digit': 'code'}, inplace=True)
data.loc[data['country'] == 'USA', 'code'] = 'USA'

In [52]:
dict_codes = {
    'Russia': 'RUS',
    'Democratic Republic of the Congo': 'COD',
    'U.S. Virgin Islands': 'VIR',
    'Congo': 'COG',
    'St. Vincent & Grenadines': 'VCT',
    'Yugoslavia': 'YUG',
    'Venezuela': 'VEN',
    'Iran': 'IRN',
    'Tanzania': 'TZA',
    'Scotland': 'SCO',
    'South Korea': 'KOR',
    'USSR': 'SUN',
    'Macedonia': 'MKD',
    'Cabo Verde': 'CPV'
}

In [53]:
for k, v in dict_codes.items():
  data.loc[data['country'] == k, 'code'] = v

Match each team abbreviation to the full NBA team name

In [54]:
nba_teams = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BKN': 'Brooklyn Nets',
    'CHA': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHX': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards'
}

In [55]:
 data['team'] = data['team_abbreviation'].map(nba_teams)

Drop unwanted attributes

In [56]:
data = data.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis=1)

Export the DF to .csv file

In [57]:
data.to_csv('ProccessedData.csv', index=False)